.profileDiv {
  height: 100%;
  padding: 20px;
  scrollbar-width: thin;
  overflow-y: auto;
  scrollbar-color: #999999 #a7a7a700;
}

.sdf {
  color: rgb(65, 70, 81);
}

.profileImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.profileImgDiv img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.subManuBigProfileIcon {
  width: 200px;
  height: 200px;
  background-color: rgb(148, 148, 148);
  padding: 12px 0px 0px 0px;
  border-radius: 50%;
  border: 2px solid rgb(194, 194, 194);
}

.profileNameDiv {
  margin-bottom: 30px;
}

.profileNameDiv input {
  width: 100%;
}