/* --------------------------- */
.mainManu {
  min-width: 70px;
  background-color: rgb(48, 51, 61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid rgb(59, 65, 78);
}
.mainManuIcon {
  color: rgb(221, 221, 221);
  margin-top: 10px;
  padding: 12px 12px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
}
.mainManuIcon.active {
  background-color: rgb(85, 85, 85);
}
