.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.containerDiv {
  height: 100%;
  width: 1500px;
  background-color: rgb(247, 235, 235);
  display: flex;
  box-sizing: border-box;
  padding: 15px;
}

.mainManu {
  width: 80px;
  height: 100%;
  background-color: rgb(118, 9, 139);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
.mainManu mat-icon {
  padding: 8px;
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 5px;
}
.sideber {
  width: 350px;
  background-color: rgb(209, 159, 243);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sideberTopPart {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(195, 95, 235);
}
.sideberChatPart {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}
.chatContent {
  flex-grow: 1;
  background-color: rgb(197, 180, 238);
}

/* 
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 10px;
*/

/* .container {
  display: flex;
  justify-content: center;
  height: 100vh; 
}

.containerDiv {
  height: 100%;
  width: 1500px;
  background-color: rgb(247, 235, 235);
  display: flex;
}

.mainManu {
  width: 80px;
  height: 100%;
  background-color: rgb(118, 9, 139);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.mainManu mat-icon {
  padding: 8px;
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 5px;
}

.sideber {
  width: 350px;
  background-color: rgb(209, 159, 243);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sideberTopPart {
  flex-shrink: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(195, 95, 235);
}

.sideberChatPart {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 10px;
}

.sideberChatPart h4 {
  margin: 0;
} */
